body {
	margin: 0;
	position: relative;

}

#container {
	width: 100%;
	position: relative;
}



.header-bar {
	border-bottom: 2px solid black;
	position: fixed;
	width: 100%;
	background-color:black;


}

.header-bar h1 {
	display:inline;
	font-size: 21px;
	color: white;
	margin-left: 15px;
	font-family: helvetica;
	float:left;

}

.header-bar ul {
	display: inline-block;
	float:right;
}

.header-bar li {
	display: inline;
	color:white;
	padding: 15px;
	font-family: Georgia;
}

.header-title {
	position: relative;
	top: 25%;
}



.header-img {
	background-image: url("bgpattern.jpg");
	background-repeat: none;
	background-size: cover;
	width: 100%;
	height: 300px;
	border-bottom: 1px solid black;



}

.header-img h2 {
	display: inline;
	position: absolute;
	top: 29%;
	left: 42%;
	font-size: 48px;
	color:white;
}

.content {
	width: 100%;
	height: 400px;
	background-color: beige;
	border-bottom: 2px solid black;


}

.content p {
	margin: 0;
	float:left;
	width: 100%;

}

.clear {
	clear: both;
}

.footer {
	clear:both;
	background-color: white;
}

span {
	color: darkblue;
}




.modal {
	z-index: 1;
	display: none;
	position: absolute;
	right: 31%;
	top: 165px;
	width: 38%;
	height: 200px;
	background-color: white;
	border: 1px solid black;

}

.modal-content {
	background-color: white;


}

.modal-content p {
	text-align:center;
}


