body {
	background-color: white;
	margin: 0;
	position: relative;
}

#container {
	width: 100%;
}



.header-bar {
	background-color: beige;
	border-bottom: 3px solid black;

}

.header-bar h1 {
	display:inline;
	font-size: 21px;
}



.header-img {
	background-color: green;
	width: 100%;
	height: 300px;


}

.content {
	width: 100%;
	height: 400px;
	background-color: purple;


}

.content p {
	margin: 0;
	float:left;
	width: 100%;

}

.clear {
	clear: both;
}

.footer {
	clear:both;
	background-color: white;
}




.modal {
	z-index: 1;
	display: none;
	position: absolute;
	right: 31%;
	top: 165px;
	width: 38%;
	height: 200px;
	background-color: white;
	border: 1px solid black;

}

.modal-content {
	background-color: white;


}

.modal-content p {
	text-align:center;
}


